@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./Pomodoro.css";
@import "./Todo.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pomodoro-container {
  @apply col-span-1 mx-auto absolute w-[463px] h-[617px] left-[115px] top-[108px] shadow-xl;
}
